{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<style type="text/css">
	.errorlist{
		list-style: none;
		color: #D9230F;
	}
	.form-home{
        margin-bottom: 13%;
      }
</style>
<div class="container" style="min-height:665px;">
	<div class="form-home" style="opacity:0.8;margin-top:50px;">
		<div class="page-header heading"><a href="/quorum/"><h1>Quorum<small>.com</small></h1></a></div><h3 class="text text-error" style="text-align:left;">Forgot your password?</h3>
		<p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
		<table>
			<form class="form-signin" action="." method="post">{% csrf_token %}
			{{form}}
			<tr><td></td><td><input type='submit' class="btn btn-warning" value="Reset Password" /></td></tr>
			</form>
		</table>
	</div>
</div>
{% endblock %}

