{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<style type="text/css">
	.errorlist{
		list-style: none;
		color: #D9230F;
	}
	.form-home{
        margin-bottom: 13%;
      }
</style>
<div class="container" style="min-height:665px;">
	<div class="form-home" style="opacity:0.8;margin-top:50px;">
		<div class="page-header heading"><a href="/quorum/"><h1>Quorum<small>.com</small></h1></a></div><h3 class="text text-error" style="text-align:left;">Change New Password</h3>
		<form method='post' action=''>{% csrf_token %}
		<table>
			{{ form }}
			<tr><td></td><td><input type='submit' class="btn btn-warning" value="Change password" /></td></tr>
		</table>
		</form>
	</div>
</div>
{% endblock %}
