{% extends "registration/registration_base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<style type="text/css">
	.form-home{
        margin-bottom: 13%;
      }
</style>
<div class="container" style="min-height:665px;">
	<div class="form-home" style="opacity:0.8;margin-top:50px;">
		<div class="page-header heading"><a href="/quorum/"><h1>Quorum<small>.com</small></h1></a></div><h3 class="text text-success" style="text-align:left;">Activation Link has been sent !</h3>
		<p>We have sent you an email with a link to reset your password.  Please check your email and click the link to continue.</p>
	</div>
</div>
{% endblock %}

