{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
<style type="text/css">
.form-home{
	margin-bottom: 13%;
}
.errorlist{
	list-style: none;
	color: #D9230F;
}
</style>
<div class="container" style="min-height:665px;">
	<div class="form-home" style="opacity:0.8;margin-top:50px;">
		<div class="page-header heading"><a href="/quorum/"><h1>Quorum<small>.com</small></h1></a></div><h3 class="text text-warning" style="text-align:center;">Reset New Password</h3>
		<p>Enter your new password below to reset your password:</p>
		<form method="post" action="">{% csrf_token %}
			<table>{{ form.as_table }}
				<tr><td></td><td><input type="submit" class="btn btn-success" value="Set password" /></td></tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}
