{% extends "registration/registration_base.html" %}
{% block title %}Activation email sent{% endblock %}
{% block content %}
<div class="container" style="min-height:665px;">
	<div class="form-home" style="opacity:0.8;margin-top:50px;">
		<div class="page-header heading"><a href="/quorum/"><h1>Quorum<small>.com</small></h1></a></div><h3 class="text text-success" style="text-align:center;">Account Registration Completed</h3>
		<p>An activation email has been sent.  Please check your email and click on the link to activate your account.</p>
	</div>
</div>
{% endblock %}